.admin-header {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.role-filter {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: white;
    cursor: pointer;
    max-width: 20%;
}

.admin-header {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .admin-header h1 {
        color: var(--patient-primary);
        margin: 0;
        font-size: 1.8rem;
        text-align: left;
    }

.btn-navigate {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

    .btn-navigate:hover {
        background-color: #0056b3;
    }